<form #form="ngForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" name="title" id="title" #title="ngModel" required [(ngModel)]="product.title">
    <ng-container *ngIf="title.touched && title.invalid">
      <div class="alert alert-danger">Title Is Required</div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input 
      type="text" 
      class="form-control"
      name="price" id="price"
      #price="ngModel"
      required pattern="\d{1,}(\.\d)?\d{0,}"
      [(ngModel)]="product.price"
    >
    <ng-container *ngIf="price.touched && price.invalid">
      <div class="alert alert-danger" *ngIf="price.errors.required">Price is Required</div>
      <div class="alert alert-danger" *ngIf="price.errors.pattern">Price is not Valid</div>
    </ng-container>
  </div>

  <div>
    <label for="category">Category</label>
    <select name="category" id="category" class="form-control" #category="ngModel" required [(ngModel)]="product.category" >
      <option value=""></option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
    <ng-container *ngIf="category.touched && category.invalid">
      <div class="alert alert-danger">Category is Required</div>
    </ng-container>
  </div>

  <div class="form-group">
    <label for="imageUrl">Image Url</label>
    <input type="text" class="form-control" name="imageUrl" id="imageUrl" #imageUrl="ngModel" [(ngModel)]="product.imageUrl">
  </div>

  <div class="card" style="width: 20rem;">
    <img class="card-img-top" [src]="imageUrl.value">
    <div class="card-body">
      <h4 class="card-title">{{ title.value }}</h4>
      <p class="card-text">{{ price.value }}</p>
    </div>
  </div>

  <button class="btn btn-primary">Create</button>
</form>

<button class="btn btn-primary" (click)="delete()">Delete</button>