<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">O</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/shopping-cart">Shopping Cart<span class="sr-only">(current)</span></a>
      </li>

      <div ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>{{ name }}</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" routerLink="/my-orders">My Orders</a>
          <ng-container *ngIf="isAdmin()">
            <a class="dropdown-item" routerLink="/manage-orders">Manage Orders</a>
            <a class="dropdown-item" routerLink="/manage-products">Manage Products</a>
          </ng-container>
          <a class="dropdown-item" routerLink="/login" (click)="logout()">Log Out</a>
        </div>
      </div>

    </ul>
  </div>
</nav>